.icon-picker-dropdown {
  position: absolute;
  width: 100%;
  max-height: 14rem;
  overflow-x: scroll;

  .icon-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

    .icon-item {
      width: 90px;
    }
  }
}
.input-group-text {
  margin-left: 10px;
  i#icon-picker-icon {
    font-size: 1.2rem;
  }
}
